.hero {
  &__wrapper {
    text-align: center;
    margin: 0 auto;

    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 480px) {
      min-width: 480px;
      min-height: 400px;
      padding: 118px 0;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      height: 600px;
      padding: 200px 0;
    }
  }

  &__title {
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--second-color);

    @media screen and (min-width: 480px) {
      font-size: 26px;
      line-height: 1.61;
    }
    @media screen and (min-width: 768px) {
      margin: 0 auto;
      width: 360px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }

  &__btn {
    margin-top: 30px;
  }
}
