.header {
  background-color: var(--second-color);
  border-bottom: 1px solid var(--border-header-color);
  @media screen and (min-width: 480px) {
    min-height: 60px;
    display: flex;
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-nav {
  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
    }
    &__logo {
      margin-right: 88px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__logo {
      margin-right: 93px;
    }
  }
}

.main-list {
  display: none;
  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      padding: 0;
    }
    &__item {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      display: block;
      padding: 32px 0;
      color: inherit;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.contact-list {
  display: none;

  @media screen and (min-width: 768px) {
    &__container {
      display: block;
      padding: 0;
    }
    &__item {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.02em;
    }

    &__link {
      display: flex;
      align-items: center;
      padding: 5px 0;
      gap: 10px;
      color: var(--third-color);
      fill: var(--third-color);

      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &__container {
      display: flex;
      margin-left: auto;
    }
    &__item {
      margin-right: 50px;
      font-size: 14px;
      line-height: 1.14;
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      padding: 32px 0;
    }
  }
}
