.logo {
  color: var(--fourth-color);
  font-family: var(--second-font);
  text-decoration: none;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: 480px) {
    padding: 16px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 24px 0;
  }

  &__web {
    color: var(--accent-color);
  }
}
