.logo {
  color: var(--fourth-color);
  font-family: var(--second-font);
  text-decoration: none;

  @media screen and (min-width: 480px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }

  &__web {
    color: var(--accent-color);
  }
}
