body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--second-color);
}

img {
  display: block;
}

.portfolio {
  background-color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
