:root {
  --main-color: #212121;
  --second-color: #ffffff;
  --third-color: #757575;
  --fourth-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --border-header-color: #ececec;
  --border-color: #eeeeee;
  --active-btn-color: #188ce8;
  --background-first: #f5f4fa;
  --background: #2f303a;
  --background-main: #f5f5f5;
  --second-font: "Raleway", sans-serif;
  --bg-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
